.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 0;
  font-family: 'Segoe UI', sans-serif;
  width: 100%;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding:0 15px;
}

.toggleAccount{
  width: auto;
  font-size: 15px;
  --color: white;
  text-transform: none;
}

.header .icon-class{
  font-size: 18px;
  --color:  white;
}

.profileDetails{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 10px;
}

.profile-avatar{
  width: 68px;
  height: 68px;
  border: 1px solid gray;
  border-radius: 50%;
  margin-top: 5px;
}

.profile-content{
  display: flex;
  flex-direction: column;
  width: 250px;
  font-size: 15px;
  margin-bottom: 10px;
}

.profile-content p{
  margin: 0 0 10px 0;
}

.follow-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.list p{
  margin: 0;
}

.profileBio{
  width: 90%;
  border: 1px solid gray;
  margin-top: 5px;
}


.person{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #797680; /* Story ring border color */
}